/.git
/.ipynb_checkpoints
rotten/*
movielens/*
gantest.ipynb
tm_2017-01-24_KerasCIFAR.ipynb
tm_2017-01-24_KerasMNIST.ipynb
test_discriminator.ipynb
tm_gan_simple.ipynb
tm_2017-02-10_rottenLSTM.ipynb
tm_2017-02-13_RottenGloveAllUntrainable.ipynb
tm_2017-02-16_ChangeInEmebeddings.ipynb
tm_2017-03-01_RottenGloveForest.ipynb

